body { background: #343635; color: #d3d9b9; font-family: "Roboto", Arial, sans-serif; font-size: 14px; }
a { color: #b9e890; }

/*noinspection ALL*/
h1 { font-size: 3em; color: #d3d9b9; text-shadow: none; -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left top, #f2f5eb, #d3d9b9);
    background: -o-linear-gradient(transparent, transparent); -webkit-background-clip: text; }

h2, legend { color: #f2f5eb; }

strong { font-weight: bold; }
.muted { color: #858a71; }
p:not(.error) strong, dt strong { color: #f2f5eb; }
.error { font-size: 3em; color: #FF7055; }

.video-selection table tr { border-color: #222; }
.video-selection table tr td:hover { background: #4e5150; }
.video-selection table tr td.control:hover a { color: #f2f5eb; }

.field .valid { color: #20aa22; }
.field .invalid { color: #aa1313; }