body { background: #343635; color: #d3d9b9; font-family: "Roboto", Arial, sans-serif; font-size: 14px; }
a { color: #b9e890; }

/*noinspection ALL*/
h1 { color: #d3d9b9; -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left top, #f2f5eb, #d3d9b9);
    background: -o-linear-gradient(transparent, transparent); -webkit-background-clip: text; }

input[type="text"], select { background: #ddd; }
button { background: #549816; color: white; border: none; transition: all 0.3s; padding: 3px 10px; }
button:hover { background: #397114; }
button[disabled] { background: #444; color: #777; cursor: default; }

header p:last-child { color: #858a71; }
header p:last-child span { color: #5ea25a; }

h2, legend { color: #f2f5eb; }

.muted { color: #858a71; }
p:not(.error) strong, dt strong { color: #f2f5eb; }

.now-playing h2 { color: #DEFF7C; }

.video-selection table tr { border-color: #222; transition: all 0.1s; }
.video-selection table tr td { transition: all 0.1s; }
.video-selection table tr.has-1-votes { background: rgba(222, 255, 124, 0.06); }
.video-selection table tr.has-2-votes { background: rgba(222, 255, 124, 0.1); }
.video-selection table tr.has-3-votes { background: rgba(222, 255, 124, 0.15); }
.video-selection table tr.has-4-votes { background: rgba(222, 255, 124, 0.2); }
.video-selection table tr.has-5-votes { background: rgba(222, 255, 124, 0.25); }
.video-selection table tr.has-6-votes { background: rgba(222, 255, 124, 0.3); }
.video-selection table tr.has-7-votes { background: rgba(222, 255, 124, 0.35); }
.video-selection table tr.has-8-votes { background: rgba(222, 255, 124, 0.4); }
.video-selection table tr:hover { background: #4e5150; color: white; }
.video-selection table tr td .bounty { color: #DEFF7C; }
.video-selection table tr td:first-child + td + td { color: #D7EDA9; }
.video-selection table tr:hover td:first-child + td + td { color: white; }
.video-selection table tr td:first-child + td + td div i { color: rgba(245, 255, 216, 0.3); }
.video-selection table tr td:first-child + td + td div i.mine { color: rgba(222, 255, 124, 0.45); }
.video-selection table tr td.control a { color: #d3d9b9; }
.video-selection table tr td.control:hover a { color: #f2f5eb; }
.video-selection table tr td.votes { color: #70cb1b; }

.event-log ul li span strong { color: #DEFF7C; }
.event-log ul li span:first-child { color: #858a71; }

.listeners h2 { color: #DEFF7C; }
.listener { color: #DEFF7C; }
.listener i { color: #D8DBCD; text-shadow: 1px 1px 2px rgba(0,0,0,0.8); }
.listener i.muted { color: #A8554A; }
.listener .volume { background: #212322; }
.listener .volume div { background: #A0A399; }

.message i { color: #858a71; }

.control-buttons button { background: #282828; color: #fff; }
.control-buttons button:hover { background: #2e2e2e; color: #ddd; }
.control-buttons button.selected, .control-buttons button.selected:hover { background: #161616; color: #ccc; }
.control-buttons button i { color: #DEFF7C; text-shadow: 1px 1px 2px rgba(0,0,0,0.8); }

.field .valid, p.message.success { color: #53aa29; }
.field .valid strong, .message p.success strong { color: #6bcb16; }
.field .invalid, .message p.error { color: #c60a09; }
.field .invalid strong, .message p.error strong { color: #e90000; }

.fill-blank h3 { color: #DEFF7C; }
.fill-blank h3 span { color: #d8ffa0; background: #2d2f2e; }
.fill-blank p strong { color: #DEFF7C; }

.curator button.close { background: #2e2e2e; color: #c6c6c6; }
.curator button.close:hover { background: #c60a09; color: white; }
.curator ul li h3 { color: #D7EDA9; }
.curator ul li h3 i { color: #d3d9b9; }
.curator ul li h3 i:hover { color: #f2f5eb; }
.curator label { color: #A0A399; }

.avatar-shop * { transition: all 0.1s; }
.avatar-shop .name { color: #d3d9b9; }
.avatar-shop > div > div > i { color: #ecffd3; text-shadow: 1px 1px 2px rgba(0,0,0,0.8); }
.avatar-shop .price { color: #DEFF7C; }
.avatar-shop > div > div:hover, .avatar-shop > div > div:hover > i, .avatar-shop > div > div:hover .price { 
    color: white; text-shadow: 1px 1px 3px rgba(255,255,255,0.4); }
.avatar-shop > div > div.owned .name, .avatar-shop > div > div.owned > i { color: #98ab5b; }
.avatar-shop > div > div.equipped > i { color: #95d431; }
.avatar-shop > div > div.equipped .name { text-decoration: underline; color: #95d431; } 
.avatar-shop .cant-buy { color: #c9513e; }
.avatar-shop .owned .price {  color: #646d4b; }

.mumble ul li ul li { color: #DEFF7C; }

.meta .graph { background: #2d2f2e; }
.meta .graph .bar { background: #c6d9a7; transition: all 0.3s; }
.meta .graph .data-point:hover .bar { background: #eefade; }
.meta .graph .bar:hover { background: #eefade; }
.meta .graph .bar .bar-whitespace { background: #2d2f2e; }
.meta .graph .label { color: #A0A399; }
.meta .graph .data-point:hover .label { color: #eefade; }

::-webkit-input-placeholder { color: #999; }
:-moz-placeholder { color: #999; }
::-moz-placeholder { color: #999; }
:-ms-input-placeholder { color: #999; }