<!DOCTYPE html>
<html ng-app="application">
<head>
    <title>Jukebox</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'/>
    <link href="js/vendor/angular-slider.css" media="screen" rel="stylesheet"/>
    <link href="css/layout.css" media="screen" rel="stylesheet"/>
    <link href="css/theme.css" media="screen" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body ng-cloak ng-controller="Main">
    <header>
        <h1>Jukebox</h1>
        <p><strong>v{{ version }}</strong> - <span class="muted">{{ versionName }}</span></p>
        <form ng-submit="login()" ng-hide="auth || !isInit() || needUpdate()">
            <fieldset>
                <input type="text" name="username" id="username" ng-model="username" size="10" placeholder="username" />
                <input type="text" name="passcode" id="passcode" ng-model="passcode" size="5" placeholder="passcode" />
            </fieldset>
            <button type="submit"><span>Log In</span></button>
        </form>
        <p ng-show="auth">{{ username }}<span><strong>{{ getKudos() || 0 | number }} </strong>kudos</span></p>
    </header>
    <p ng-show="needUpdate()" class="error"><strong>Your version is out of date,</strong> or vegeta locked the app. <strong>Shift+F5</strong> to get the latest version.</p>
    <section ng-hide="!isInit() || needUpdate()">
        <div class="canvas-header">
            <span ng-repeat="mode in canvasModes" ng-click="changeCanvasMode(mode)" ng-class="{selected: canvasData.canvasMode == mode}" ng-show="auth">{{ mode }}</span>
        </div>
        <div id="player"></div>
        <div class="canvases" ng-show="auth"><div>
            <canvas id="mainUnderCanvas" width="640" height="370"></canvas>
            <canvas id="mainCanvas" width="640" height="370"></canvas>
            <canvas id="highUnderCanvas" width="640" height="370"></canvas>
            <canvas id="highCanvas" width="640" height="370"></canvas>
        </div></div>
        <div class="isketch clearfix" ng-show="canvasData.canvasMode == 'isketch'">
            <h3 ng-show="canvasData.isketch.challenge && !canvasData.isketch.winner">Your word is: <strong>{{ canvasData.isketch.challenge.word }}</strong></h3>
            <h3 ng-show="canvasData.isketch.winner"><strong><span ng-style="{color: '#'+getUserColor(canvasData.isketch.winner.user)}">{{canvasData.isketch.winner.user}}</span> won! </strong>The answer was: <strong>{{ canvasData.isketch.winner.word }}</strong></h3>
            <button ng-click="canvasData.isketch.startGame()" ng-disabled="canvasData.isketch.startingGame" ng-hide="canvasData.isketch.host && canvasData.isketch.status != 'loading'">Play iSketch!</button>
            <div class="message" ng-show="canvasData.isketch.message" ng-click="canvasData.isketch.message = null">
                <p ng-class="canvasData.isketch.message.type" ng-bind-html="canvasData.isketch.message.text"></p>
                <p ng-show="canvasData.isketch.message.kudos">You {{message.kudos > 0 ? 'gained' : 'lost'}} <strong>{{ message.kudos }}</strong> kudos!</p>
            </div>
            <div class="guesses" ng-show="canvasData.isketch.status == 'playing'">
                <ul><li ng-repeat="guess in canvasData.isketch.guesses | reverse" class="animate-repeat reverse">
                    <strong ng-style="{color: '#'+getUserColor(guess.user)}">{{ guess.user }}</strong><span>:  {{guess.text}}</span>
                </li></ul>
            </div>
            <form ng-submit="canvasData.isketch.submitGuess()" ng-show="canvasData.isketch.status == 'playing' && !canvasData.isketch.challenge">
                <input ng-model="canvasData.isketch.myGuess" type="text" id="isketchGuess" name="isketchGuess" size="15" maxlength="16" />
                <button type="submit">Guess</button>
            </form>
        </div>
        <videos></videos>
        <div class="dj">
            <p ng-show="getDJ()"><span class="muted">Current DJ: </span>{{ getDJ() }}</p>
            <button ng-hide="getDJ() || !auth" ng-click="becomeDJ()">Become DJ</button>
        </div>
        <event-log></event-log>
        <div ng-show="getUsers()" class="listeners">
            <h3 class="muted">Listeners</h3>
            <div class="listener" ng-repeat="(name,listener) in getUsers()" ng-show="listener.connections">
                <div><i class="fa" ng-class="getListenerClasses(listener)" ng-style="{color: '#'+getUserColor(name)}"></i> {{ name }}</div>
                <div class="volume" ng-class="{muted:listener.muted}"><div ng-style="{width: listener.volume+'%'}"></div></div>
            </div>
        </div>
        <div class="message" ng-show="message" ng-click="message = null">
            <p ng-class="message.type" ng-bind-html="message.text"></p>
            <p ng-show="message.kudos">You {{message.kudos > 0 ? 'gained' : 'lost'}} <strong>{{ message.kudos }}</strong> kudos!</p>
        </div>
        <p ng-show="getJackpot() && auth" style="text-align: center;">
            <span class="muted">Current Jackpot:</span> <strong ng-style="{fontSize: (14+(getJackpot()/10000))+'px'}">{{ getJackpot() | number }}</strong>
        </p>
        <control-buttons></control-buttons>
        <title-gamble></title-gamble>
        <fill-blank></fill-blank>
        <bounty></bounty>
        <add-video></add-video>
        <curator></curator>
        <avatar-shop></avatar-shop>
        <changelog></changelog>
        <mumble></mumble>
        <meta-stats></meta-stats>
        <admin></admin>
        <button ng-hide="username != getDJ() || !auth" ng-click="forceVote()">Force Vote</button>
    </section>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-animate.min.js"></script>
    <script src="js/vendor/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/vendor/angular-slider.min.js"></script>
    <script src="js/vendor/localStorageModule.js"></script>
    <script src='https://cdn.firebase.com/js/client/1.1.2/firebase.js'></script>
    <script src="app/app.js"></script> <!-- My Stuff -->
    <script src="app/api.js"></script>
    <script src="app/jukebox.js"></script>
    <script src="app/videos/videos.js"></script>
    <script src="app/controlbuttons/controlbuttons.js"></script>
    <script src="app/addvideo/addvideo.js"></script>
    <script src="app/avatarshop/avatarshop.js"></script>
    <script src="app/bounty/bounty.js"></script>
    <script src="app/curator/curator.js"></script>
    <script src="app/fillblank/fillblank.js"></script>
    <script src="app/metastats/metastats.js"></script>
    <script src="app/miscpanels/miscpanels.js"></script>
    <script src="app/titlegamble/titlegamble.js"></script>
    <script src="app/eventlog/eventlog.js"></script>
    <script src="app/fireservice.js"></script>
    <script src="app/global.js"></script>
    <script src="app/dj.js"></script>
    <script src="app/player/player.js"></script>
    <script src="app/canvas.js"></script>
    <script src="app/polyominoes.js"></script>
    <script src="app/isketch.js"></script>
    <script src="app/utility.js"></script>
    <script src="js/vendor/seedrandom.js"></script>
    <!-- Error Reporting -->
    <!--<script src="//cdn.ravenjs.com/1.1.15/jquery,native/raven.min.js"></script>-->
    <!--<script>Raven.config('https://8d6f75cd5f26489bac4330469e1789e6@app.getsentry.com/25099', {}).install();</script>-->
</body>
</html>