<div class="add-bounty control-panel" ng-show="auth && controlAddBounty">
    <p ng-hide="dj">You can't place a bounty without a DJ.</p>
    <p ng-hide="videoSelection">You can place a bounty when voting begins.</p>
    <p ng-show="videoSelection && !user.kudos">You need to earn some kudos first.</p>
    <p ng-show="bountySet">You can't place more than one bounty per round.</p>
    <form ng-submit="addBounty()" ng-show="videoSelection && user.kudos && !bountySet && dj">
        <fieldset>
            <legend>Add a bounty</legend>
            <div class="field">
                <label for="bountyAmount">Amount</label>
                <input type="text" id="bountyAmount" name="bountyAmount" ng-change="bounty.bountyAmount = restrictNumber(bounty.bountyAmount,1,user.kudos)" ng-model="bounty.bountyAmount" size="3"><span class="muted hint">kudos</span>
                <slider floor="1" ceiling="{{user.kudos}}" step="1" precision="0" ng-model="bounty.bountyAmount"></slider>
            </div>
            <div class="field">
                <label for="bountySelect">Video</label>
                <select ng-model="bounty.bountyIndex" id="bountySelect" name="bountySelect" size="6" >
                    <option ng-repeat="option in videoSelection" value="{{ $index }}">{{ $index + 1 }}. {{ option.title }}</option>
                </select>
            </div>
        </fieldset>
        <button type="submit" ng-disabled="bounty.bountyAmount < 1" >Add it!</button>
    </form>
</div>